<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
  <!--params?-->
  <%= link_to 'Delete comment', [comment.article, comment],
              method: :delete, data: {comfirm: 'Are you sure?'} %>
</p>